<h1>this is our deletemenu</h1>
<form method="post">
    <label>name</label>
    <input type="text" name="name"> <br><br>

    <label>price</label>
    <input type="number" name="price">

    <button type="Submit">Delete</button>
    </form>