<h1>this is our deletemenu</h1>
<form method="post" action="">
    <p>Are you sure you want to delete this?</p>
    <button class="btn_delete"><a href="/menus">NO </a></button>
    <button class="btn_delete" type="submit" value="Submit">YES</button>
</form>
</form>