<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="../../index.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   
    <title>  </title>
</head>
<body>
    <nav>
        <a href="/" class="logo"><img src="/img/restaurant_logo.png " alt="logo"></a>
        <ul class="nav-menu">
            <li class="nav-item"><a href="/" class="nav-link">home</a> </li>
            <li class="nav-item"><a href="/aboutUS" class="nav-link">aboutUS</a> </li>
            <li class="nav-item"><a href="/contactUS" class="nav-link">contactUs</a> </li>
            <li class="nav-item"><a href="/comments/add" class="nav-link"> Comments</a></li>
            <li class="nav-item"><a href="/menus" class="nav-link">menus</a> </li>
            <li class="nav-item"><a href="/orders" class="nav-link">orders</a> </li>
            
        </ul>
    </nav>
   
   
   
    <%- body -%> 
 
    <footer>
        <div class="footer-logos ">
            <img src="/img/footer-logo.png" />
            <div class="footer-text">
                <p> &copy; 2015 select</p><br>
                <p> Designed by multifour.com</p>
            </div>
        </div>
    
        <ul>
            <i class="fa fa-twitter " style=" font-size:24px"></i>
            <i class="fa fa-facebook " style=" font-size:24px"></i>
            <i class="fa fa-dribbble " style=" font-size:24px"></i>
            <i class="fa fa-linkedin " style=" font-size:24px"></i>
            <i class="fa fa-pinterest " style=" font-size:24px"></i>
            <i class="fa fa-instagram " style=" font-size:24px"></i>
            <i class="fa fa-google-plus " style=" font-size:24px"></i>
            <i class="fa fa-flicke " style=" font-size:24px"></i>
            <i class="fa fa-behance " style=" font-size:24px"></i>
        </ul>
    
    
    
    
    </footer> 
</body>
</html>