<div style="background-image: url(/img/bg21.jpg);">
<div class="deletecontainer">
    <form method="post" action="">
        <h3> Comfirm if you want to delete</h3>

        <button class="buttons"><a href="/">no </a></button>
        <button class="buttons" type="submit">yes</button>
    </form>
</div>
</div>

<style>
    .deletecontainer {
        margin-top: 7em;
        text-align: center;
        margin-bottom: 20em;
    }

    .buttons{
        border: none;
  background-color: rgb(29, 208, 231);
  text-align: center;
  padding: 0.6em;
  margin: 0.4em;
  margin-bottom: 2em;
  border-radius: 7px; 
  color: #fff; 
 
    }

    h3{
        color: #fff;
        font-size: 25px;
    }

</style>