<div style="background-image: url(/img/bg21.jpg);">
<div class="contactcontainer" style="background-image: url(/img/bg21.jpg);">
    <h1>CONTACT OUR SALES TEAM <br>
   <span style="font-size: 20px; font-weight: lighter;">We'd Love to hear from you!</span> </h1>
  

<div class="fcontainer" >
  <h3><span style="color: aqua;">Contact Us</span></h3>
  <form class="layout">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
       Natus saepe obcaecati ea recusandae quas! 
       Dolores voluptates dignissimos, 
      explicabo minima ab obcaecati ut,
       hic molestiae eligendi sequi accusantium voluptas sunt veniam.</p>
      
       <div class="location"> 
         <p><i class="fa fa-phone" aria-hidden="true">Tell:0589954329</i></p>
         <p><i class="fa fa-envelope-o" aria-hidden="true">Email:resblog@gmail.com</i></p>
         <p><i class="fa fa-location-arrow" aria-hidden="true">Address:tesano</i></p>
       </div>
       <div class="location">
        <i class="fa fa-twitter " style=" font-size:22px; color: rgb(29, 208, 231);"></i>
        <i class="fa fa-facebook " style=" font-size:22px; color: rgb(29, 208, 231);"></i>
        <i class="fa fa-dribbble " style=" font: size 22px; color: rgb(29, 208, 231);"></i>
        <i class="fa fa-linkedin " style=" font-size:22px;color: rgb(29, 208, 231);"></i>
        <i class="fa fa-pinterest " style=" font-size:22px; color: rgb(29, 208, 231);"></i>
       </div>
       
    <!-- <input type="text" name="name" class="name" placeholder=" Enter Full  Name" required>
    <input type="text" name="email" class="name" placeholder=" Enter email" required>
    <input type="number" name="name" class="name" placeholder=" Enter contact" required>
    <input type="text" name="name" class="name" placeholder=" Company Name" required>
    <textarea title="message" name="message" placeholder=" Details" required></textarea> -->
   
    <!-- <textarea title="message" name="message" placeholder=" comment Here" required></textarea> -->

    <!-- <button type="submit" value="Submit"><a href="/"></a>Submit</button> -->


  </div>
</div>
</div>



<!-- assignment
resturantpage place at the home
contactUS
aboutUs -->