

   <div class="aboutcontainer">
       <h1>Thank you for your feedback</h1>
       <h1> you will be redirected to our homepage in <span  id = 'countdown'></span> seconds</h1>
       <!-- <button class="button">Back</button> -->
   </div>
    
  </header> 

  

<script src="/js/feedback.js"></script> 