
<div class="bkg" style="background-image: url(/img/checked_menu.jpg);" >
   <div class="aboutcontainer about">
       <h1>Thank you for your feedback</h1>
       <h1> you will be redirected to our homepage in <span  id = 'countdown'></span> seconds</h1>
       <!-- <button class="button">Back</button> -->
   </div>
    
<style>
    .bkg{
        margin-top: 3em;
        text-align: center;
        /* margin-bottom: 35em; */
        color: white;
    }

    .aboutcontainer{
        margin-bottom: 35em;   
    }
</style>

  

<script src="/js/feedback.js"></script> 

