<section style="background-image: url('img/profile.jpg') " class="bgimage1">


    <div class="text">
        <p>Because</p>
        <h2>YOU'RE <br>WORTH IT</br></h2>
    </div>
    <div id="menu" class="container">
        <div class="card img-container">
            <div> <img src="img/mg1.jpg "></div>

            <div class="text-container">
                <p<strong>CHIPS $ FISH</strong></p>
                    <p class="strong"> <strong>$7.9</strong></p>

            </div>
        </div>
        <div class="card img-container">
            <div> <img src="img/mg2.jpg"></div>
            <div class="text-container">
                <p><strong>CHEFS SALAD -</strong></p>
                <p class="strong"> <strong>$2.99</strong></p>

            </div>
        </div>

        <div class="card img-container">
            <div> <img src="img/mg3.jpg"></div>
            <div class="text-container">
                <p><strong> GRILLED STEAK -</strong> </p>
                <p class="strong"> <strong>$14.99</strong></p>

            </div>
        </div>
        <div class="card img-container">
            <div> <img src="img/mg4.jpg "></div>
            <div class="text-container">
                <p><strong>ROAST CHICKEN-</strong></p>
                <p class="strong"> <strong>$9.99</strong></p>

            </div>
        </div>
    </div>
</section>

<!-- image 2 -->

<!-- <section style="background-color: rgb(250, 246, 244); min-height: 90vh; background-repeat: repeat; background-size: auto;"> -->
<section style="background-image: url('img/bgcolor.png'); min-height: 90vh;">
    <div class="center-text">
        <h1>Discover Our Stories</h1>
        <p>In our work we try to use only the most modern
            convenient and interesting solutions. we want the template
            you downloaded look unique and new for such a long
            time as it is possible.
        </p>
        <div class="center-text imgcenter">
            <img src="/img/bg2.png" height="20%" width="60%">
        </div>
    </div>




</section>
<!-- image 3 -->
<section class="query-image" style="background-image: url('img/checked_menu.jpg'); background-attachment: fixed; ">
    <div class="menu">
        <p>WHAT TO EAT?</p>
        <h1>ENJOY YOUR MEAL</h1>
        <h6>more than 250 dishes and 300 drinks for you</h6>
        <!-- <button class="button1" <i class="material-icons"></i> View Menu</button> -->
        <!-- <div class="form"> 
            <input type="text" class="details"> -->
        <button class="button1 " id="btn"><i class="material-icons">menu_book</i>View Menu</button>
        <div class="menu-items" id="pop-up">
            <div class="foods">
                <div>
                    <img class="img-c" src="img/img1.jpg">
                </div>
                <div class="text-c">
                    <p>Chips
                    <p>
                </div>
            </div>
            <div class="foods">
                <div>
                    <img class="img-c" src="img/img2.jpg">
                </div>
                <div class="text-c">
                    <p>Chicken
                    <p>
                </div>
            </div>
            <div class="foods">
                <div>
                    <img class="img-c" src="img/mg3.jpg">
                </div>
                <div class="text-c">
                    <p>Tomatoes
                    <p>
                </div>
            </div>
        </div>
        <!-- <div class="lists">

                <ul id="list-items">
                    <li ><a></a></li>
                    <li ><a></a></li>
                </ul>
                   
             </div>
           
        </div> -->

    </div>
</section>


<!-- image 4 -->
<section style="background-image: url('img/bgcolor.png'); min-height: 90vh;">

    <div class="container4">
        <div class=" img-container">
            <div> <img src="img/hot_food.png "></div>

            <div class="text-container">
                <p id="size">Fully Responsive</p><br>
                <p class="strong"> Your project does great on any devivce
                    content can be easily read and a user
                    understands fully well what you wanted
                    to say him or her
                </p>

            </div>
        </div>
        <div class=" img-container">
            <div> <img src="img/feature-food3.png"></div>
            <div class="text-container">
                <p id="size">pure and simple</p>
                <p class="strong">No fluff. nothing should led the visitor
                    away from the main essence of
                    website. there must be just important
                    information
                </p>

            </div>
        </div>

        <div class=" img-container">
            <div> <img src="img/feature-food5.png"></div>
            <div class="text-container">
                <p id="size">Color schemes</p>
                <p class="strong">The set of ready made Css files width
                    different color schemmes will help you in
                    quick landing's adaptation according
                    to your benchmark style.
                </p>

            </div>
        </div>

    </div>
    <div id="menu" class="container">
        <div class=" img-container">
            <div> <img src="img/feature-food2.png "></div>

            <div class="text-container">
                <p id="size">PSD Is IncLuded</p>
                <p class="strong">The graphic source file in PSD format is
                    included in the archive </p>

            </div>
        </div>
        <div class=" img-container">
            <div> <img src="img/feature-food4.png"></div>
            <div class="text-container">
                <p id="size">Documentation</p>
                <p class="strong"> The detailed documentation will help
                    you in adjusting the project with little
                    efforts according to your requirement
                </p>

            </div>
        </div>

        <div class=" img-container">
            <div> <img src="img/feature-food6.png"></div>
            <div class="text-container">
                <p id="size">Multiplatform</p>
                <p class="strong"> The page is adopted to most of the
                    popular platform in segment
                </p>

            </div>
        </div>

    </div>

</section>

<!-- image 5 -->
<section style="background-image: url('img/bg21.jpg ">
    <div class="opinion">
        <div class="star-container">
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <!-- <i class="material-icons" style="font-size:40px; color:orange;">star_outline</i>
            <i class="material-icons" style="font-size:40px; color:orange;">star_outline</i>
            <i class="material-icons" style="font-size:40px; color:orange;">star_outline</i>
            <i class="material-icons" style="font-size:40px; color:orange;">star_outline</i>
            <i class="material-icons" style="font-size:40px; color:orange;">star_outline</i> -->
            <!-- <h4 class="star"><i class="fa fa-star " style="color: rgb(241, 114, 28) ; font-size:35px"></i></h4>
            <h4 class="star"><i class="fa fa-star " style="color: rgb(241, 114, 28); font-size:35px"></i></h4>
            <h4 class="star"><i class="fa fa-star " style="color: rgb(241, 114, 28); font-size:35px"></i></h4>
            <h4 class="star"><i class="fa fa-star " style="color: rgb(241, 114, 28); font-size:35px"></i></h4> -->
        </div>



        <p>I always thought that people used to pay
            much for quality. But these guys changed
            my opinion. the quality exceeds the price many times
            I recommend it to everybody
        </p>
    </div>
</section>
<!-- image 6 -->
<article style ="background-image: url('img/bg5.jpeg' )" style="height:150px;" class="maincont">
    <div class="art-container">
        <div>
            <i class="material-icons" style="color:#555; font-size: 70px;">menu_book</i>
            <h3 class="numbers">256</h3>
            <p>Dishes</p>
        </div>

        <div>
            <i class="material-icons" style="color:#555; font-size: 70px;">wine_bar</i>
            <h3 class="numbers">309</h3>
            <p>Drinks</p>
        </div>

        <div>
            <i class="material-icons" style="color:#555; font-size: 70px;">sentiment_very_satisfied</i>
            <h3 class="numbers">721</h3>
            <p>Happy Clients</p>
        </div>

        <div>
            <i class="material-icons" style="color:#555; font-size: 70px;">favorite_border</i>
            <h3 class="numbers">378</h3>
            <p>Likes</p>
        </div>

    </div>
</article>
<!-- image 7 -->
<section style="background-image: url('img/last.jpg')">
    <div class="third imoji">
        <div>
            <p style="font-size:30px;">Book a Table</p><br><br>
            <p style="border: 1px solid grey;"></p>

            <p>Full Name</p><br><br>
            <h2 style="border: 1px solid grey;"></h2>

            <p>Email Address</p><br><br>
            <h2 style="border: 1px solid grey;"></h2>

            <p>Your message or question</p><br><br>
            <h2 style="border: 1px solid grey ;"></h2>
            <div class="btn-container">
                <button class="button2 newbutton"><i class="material-icons"
                        style="color:#fff;">edit_note</i>View</button>
            </div>


        </div>
        <div class="inside">
            In our work we try to use only the most modern, convenient<br>
            and interesting solutions. We want the templates you<br>
            downloaded look unique and new for such a long time as it<br>
            possible<br><br>
            <i class="material-icons" style="color:grey; font-size: 20px;">schedule</i> 1000-2300 mon-sun<br><br>
            <i class="material-icons" style="color:grey; font-size: 20px;">location_on</i> 300 Boystone Ave, seattle
            WA<br><br>
            <i class="material-icons" style="color:grey; font-size: 20px;">phone_callback</i> 735-555-1428
            (callback)<br><br>
            <i class="material-icons" style="color:grey; font-size: 20px;">email</i> your@email.com

        </div>

    </div>


</section>
