<div  style="background-image: url(/img/fb.jpg);">
    
<div class="aboutcontainer comfirm">
    <h1>comment successfully deleted</h1>
    <h1> you will be redirected to our homepage in <span  id = 'countdown'></span> seconds</h1>
     
</div>
</div>
<script src="/js/feedback.js"></script>  

<style>
  .comfirm{
    /* margin-top: 7em; */
        text-align: center;
        margin-bottom: 20em;
        color: white;
  }  
</style>